# Inteligencia Artificial y Machine Learning
psutil
tensorflow
torch
scikit-learn
imbalanced-learn
optuna
xgboost

# Procesamiento de Señales y Datos
mne
mne-icalabel
pyarrow
PyWavelets
numpy
pandas
scipy

# Visualización
matplotlib
seaborn

# API
fastapi
uvicorn

# GUI
PySide6
pyqtgraph
requests
QT-PyQt-PySide-Custom-Widgets

# Files automation
watchdog

# Utilidades y Entorno
ipython
PyYAML

# Notebooks
jupyter
jupyterlab
ipykernel